// Base container
// -------------------------------------------------------------------
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-container-width;
    width: 100%;
}

.container--sm {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-sm-container-width;
    width: 100%;
}
